.content-header
    h2.content-title Hello Evano <span class="hello">👋🏼</span>,
.content-main
    .container
        .customers-content
            .customers-content-header
                .customers-content-header-left
                    h3.customers-title All Customers
                    span.status Active Members
                .customers-content-header-right
                    form(action="#").search-form
                        button(type="submit").btn-search
                            include ../img/search.svg 
                        input(type="text" placeholder="Search").i-text
            .customers-content-main
                .customers-table-wrapp
                    table.table
                        thead.table-header
                            tr.table-row
                                th.table-header-title Customer Name
                                th.table-header-title Company
                                th.table-header-title Phone Number
                                th.table-header-title Email
                                th.table-header-title Country
                                th.table-header-title.status Status
                        tbody.table-main
                            tr.table-row
                                td.td-text Jane Cooper
                                td.td-text Microsoft
                                td.td-text
                                    a(href="tel:2255550118") (225) 555-0118
                                td.td-text
                                    a(href="mailto:jane@microsoft.com") jane@microsoft.com
                                td.td-text United States
                                td.td-text.td-status
                                    .td-active Active
                            tr.table-row
                                td.td-text Jane Cooper
                                td.td-text Microsoft
                                td.td-text
                                    a(href="tel:2255550118") (225) 555-0118
                                td.td-text
                                    a(href="mailto:jane@microsoft.com") jane@microsoft.com
                                td.td-text United States
                                td.td-text.td-status
                                    .td-inactive Inactive
            .customers-content-footer
                .showing-data Showing data 1 to 8 of  256K entries
                .pagination
                    