.sidebar-header
    a(href="#").logo-wrapper
        include ../img/logo.svg
        .logo-text
            h1.h1.logo Dashboard
            .version v.01
.sidebar-main
    nav.nav
        ul.nav-list
            li.nav-item
                button.nav-button
                    include ../img/dashboard.svg
                    span.nav-name Dashboard
            li.nav-item
                button.nav-button
                    include ../img/product.svg
                    span.nav-name Product
            li.nav-item
                button.nav-button
                    include ../img/customers.svg
                    span.nav-name Customers
            li.nav-item
                button.nav-button
                    include ../img/income.svg
                    span.nav-name Income
            li.nav-item
                button.nav-button
                    include ../img/promote.svg
                    span.nav-name Promote
            li.nav-item
                button.nav-button
                    include ../img/help.svg
                    span.nav-name Help
.sidebar-footer
    .user-info-wrapper
        .user-photo
            img(src="./img/user1.webp", alt="user")
        .user-info
            h4.h4.user-name Evano 
            span.user-job Project Manager