.sidebar-header
    a(href="#").logo-wrapper
        include ../img/logo.svg
        .logo-text
            h1.h1.logo Dashboard
            .version v.01
    .wrap-btn-close
        button#close-menu
            include ../img/close.svg
.sidebar-main
    nav.nav
        ul.nav-list
            li.nav-item
                button.nav-button(data-name="dashboard")
                    .nav-icon.stroke
                        include ../img/dashboard.svg
                    span.nav-name Dashboard
            li.nav-item
                button.nav-button(data-name="product")
                    .nav-icon.fill
                        include ../img/product.svg
                    .nav-name Product
                    .nav-icon-chevron
                        include ../img/chevron.svg
            li.nav-item
                button.nav-button-active.nav-button(data-name="customers")
                    .nav-icon.customers
                        include ../img/customers.svg
                    .nav-name Customers
                    .nav-icon-chevron
                        include ../img/chevron.svg
            li.nav-item
                button.nav-button(data-name="income")
                    .nav-icon.stroke
                        include ../img/income.svg
                    .nav-name Income
                    .nav-icon-chevron
                        include ../img/chevron.svg
            li.nav-item
                button.nav-button(data-name="promote")
                    .nav-icon.fill
                        include ../img/promote.svg
                    .nav-name Promote
                    .nav-icon-chevron
                        include ../img/chevron.svg
            li.nav-item
                button.nav-button(data-name="help")
                    .nav-icon.fill
                        include ../img/help.svg
                    .nav-name Help
                    .nav-icon-chevron
                        include ../img/chevron.svg
.sidebar-footer
    .user-info-wrapper
        .user-photo
            img(src="./img/user1.webp", alt="user")
        .user-info
            h4.h4.user-name Evano
            span.user-job Project Manager