@import '../utils/main.utils.scss';

.content {
    padding: 45px 95px 45px 71px;
    flex-grow: 1;
    background-color: #FAFBFF;
}

.content-header {
    margin-bottom: 66px;
}

.content-title {
    margin-bottom: 51px;
    letter-spacing: -0.22px;
    @include font(24px, 500, 24px, $COLOR__BLACK);
    .hello {
        display: inline-block;
        animation: wobble-hor-bottom 1.5s 1s both;
        animation-iteration-count: 2;
    }
}

.customers-content-header {
    padding: 0 51px 0 38px;
    margin-bottom: 32px;
    @include flex(row, space-between, center);
    .customers-title {
        letter-spacing: -1.22px;
        margin-bottom: 14px;
        @include font(24px, 500, 24px, $COLOR__BLACK);
    }
    .status {
        @include font(14px, 400, 14px, $COLOR__GREEN);
    }
}



.search-form {
    padding: 0 8px;
    width: 216px;
    height: 38px;
    border-radius: 10px;
    background: #F9FBFF;
    @include flex(row, null, center);
    .btn-search {
        margin-right: 8px;
        background-color: transparent;
        @include flex(row, center, center);
        svg {
            path {
                transition: .3s;
            }
        }
        &:hover {
            svg {
                path {
                    stroke: $COLOR__BLACK;
                }
            }
        }
    }
    .i-text {
        flex: 1;
        background-color: transparent;
        @include font(12px, 400, 12px, $COLOR__BLACK);
        &::placeholder {
            @include font(12px, 400, 12px, #B5B7C0);
        }
    }
}

.customers-table-wrapp {
  padding: 0 38px;
  overflow: hidden;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table-header {
  .table-row {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translate(-50%);
      width: 200%;
      height: 1px;
      background-color: #EEE;
    }
    .table-header-title {
      padding: 14px 0;
      text-align: left;
      color: #B5B7C0;
      font-size: 14px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.14px;
      @include font(14px, 500, 14px, $COLOR__GREY);
    }
    .table-header-title.status {
      text-align: center;
    }
  }
}

.table-main {
  .table-row {
    border-bottom: 1px solid #EEE;
    .td-text {
      padding: 24px 0;
    }
    .td-text,
    .td-text a {
      @include font(14px, 500, 14px, #292D32);
    }
    .td-text a {
      transition: .3s;
      &:hover {
        color: $COLOR__GREEN;
      } 
    }
    .td-status {
      @include flex(row, center, center);
      .td-active,
      .td-inactive {
        width: 80px;
        height: 29px;
        text-align: center;
        cursor: default;
        @include flex(row, center, center)
      }
      .td-active {
        border-radius: 4px;
        border: 1px solid #00B087;
        background-color: rgba(22, 192, 152, 0.38);
        @include font(14px, 500, 14px, #008767);
      }
      .td-inactive {
        border-radius: 4px;
        border: 1px solid #DF0404;
        background: #FFC5C5;
        @include font(14px, 500, 14px, #DF0404);
      }
    }
  }
}

.customers-content-footer {
  padding: 0 38px;
  margin-top: 32px;
  .showing-data {
    letter-spacing: -0.14px;
    @include font(14px, 500, 14px, $COLOR__GREY);
  }
}


@keyframes wobble-hor-bottom {
    100% {
      transform: translateX(0%);
      transform-origin: 50% 50%;
    }
    15% {
      transform: rotate(-15deg);
    }
    30% {
      transform: rotate(15deg);
    }
    45% {
      transform: rotate(-8deg);
    }
    60% {
      transform: rotate(6deg);
    }
    75% {
      transform: rotate(-4deg);
    }
  }