@import '../utils/main.utils.scss';
.content {
    overflow-y: scroll;
    padding: 45px 95px 45px 71px;
    flex-grow: 1;
    background-color: #FAFBFF;
}

.content-header {
    margin-bottom: 66px;
}

.content-title {
    margin-bottom: 51px;
    letter-spacing: -0.22px;
    @include font(24px, 500, 24px, $COLOR__BLACK);
    .hello {
        display: inline-block;
        animation: wobble-hor-bottom 1.5s 1s both;
        animation-iteration-count: 10;
    }
}

.customers-content-header {
    padding: 0 51px 0 38px;
    margin-bottom: 32px;
    @include flex(row, space-between, center);
    .customers-title {
        letter-spacing: -1.22px;
        margin-bottom: 14px;
        @include font(24px, 500, 24px, $COLOR__BLACK);
    }
    .status {
        @include font(14px, 400, 14px, $COLOR__GREEN);
    }
}

.search-form {
    padding: 0 8px;
    width: 216px;
    height: 38px;
    border-radius: 10px;
    background: #F9FBFF;
    @include flex(row, null, center);
    .btn-search {
        margin-right: 8px;
        background-color: transparent;
        @include flex(row, center, center);
        svg {
            path {
                transition: .3s;
            }
        }
        &:hover {
            svg {
                path {
                    stroke: $COLOR__BLACK;
                }
            }
        }
    }
    .i-text {
        flex: 1;
        background-color: transparent;
        @include font(12px, 400, 12px, $COLOR__BLACK);
        &::placeholder {
            @include font(12px, 400, 12px, #B5B7C0);
        }
    }
}

.customers-table-wrapp {
    padding: 0 38px;
    overflow-x: scroll;
}



.table {
    border-collapse: collapse;
    min-width: 830px;
    width: 100%;
}

.table-header {
    .table-row {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 50%;
            transform: translate(-50%);
            width: calc(100% + 76px);
            height: 1px;
            background-color: #EEE;
        }
        .table-header-title {
            padding: 14px 0;
            text-align: left;
            color: #B5B7C0;
            font-size: 14px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.14px;
            @include font(14px, 500, 14px, $COLOR__GREY);
        }
        .table-header-title.status {
            text-align: center;
        }
    }
}

.table-main {
    .table-row {
        position: relative;
        border-bottom: 1px solid #EEE;
        $baseDelay: 0.5s;
        $step: 0.2s;
        @for $i from 1 through 8 {
            &:nth-child(#{$i}) {
                animation-name: slide-in-bottom;
                animation-duration: 0.5s;
                animation-delay: $baseDelay + ($i - 1) * $step;
                animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
                animation-fill-mode: both;
            }
        }
        .td-text {
            padding: 20px 0;
        }
        .td-text,
        .td-text a {
            @include font(14px, 500, 14px, #292D32);
        }
        .td-text a {
            transition: .3s;
            &:hover {
                color: $COLOR__GREEN;
            }
        }
        .td-status {
            @include flex(row, center, center);
            .td-active,
            .td-inactive {
                width: 80px;
                height: 29px;
                text-align: center;
                cursor: default;
                @include flex(row, center, center)
            }
            .td-active {
                border-radius: 4px;
                border: 1px solid #00B087;
                background-color: rgba(22, 192, 152, 0.38);
                @include font(14px, 500, 14px, #008767);
            }
            .td-inactive {
                border-radius: 4px;
                border: 1px solid #DF0404;
                background: #FFC5C5;
                @include font(14px, 500, 14px, #DF0404);
            }
        }
    }
}

.customers-content-footer {
    padding: 0 38px;
    margin-top: 32px;
    @include flex(row, space-between, center);
    .showing-data {
        letter-spacing: -0.14px;
        @include font(14px, 500, 14px, $COLOR__GREY);
    }
}

.pagination {
    .pagination-list {
        @include flex(row, null, center);
        .pagination-item {
            margin-right: 12px;
            button {
                width: 25px;
                height: 24px;
                border-radius: 4px;
                border: 1px solid #EEE;
                background: #F5F5F5;
                transition: .3s;
                letter-spacing: -0.12px;
                @include font(12px, 500, 12px, #404B52);
                @include flex(row, center, center);
                svg {
                    path {
                        stroke: #404B52;
                        transition: .3s;
                    }
                }
                &:hover {
                    background-color: $COLOR__BLUE;
                    color: $COLOR__WHITE;
                    svg {
                        path {
                            stroke: $COLOR__WHITE;
                        }
                    }
                }
            }
            .btn-pagination-active {
                background-color: $COLOR__BLUE;
                color: $COLOR__WHITE;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        .pagination-item.prev,
        .pagination-item.next {
            button {
                width: 26px;
            }
        }
        .pagination-item.prev {
            button {
                svg {
                    transform: rotate(180deg);
                }
            }
        }
    }
}