@import '../utils/main.utils.scss';
.sidebar {
    padding: 36px 10px 76px 39px;
    width: 306px;
    background-color: $COLOR__WHITE;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.50);
    @include flex(column, null, null);
}

.sidebar-header {
    margin-bottom: 64px;
}

.logo-wrapper {
    @include flex(row, null, center);
    svg {
        transition: .3s;
    }
    .logo-text {
        margin-left: 8px;
        @include flex(row, null, flex-end);
        .logo {
            margin-right: 4px;
            @include font(26px, 600, 22px, $COLOR__BLACK);
        }
        .version {
            @include font(10px, 500, 10px, #838383)
        }
    }
    &:hover {
        svg {
            transform: rotate(60deg);
        }
    }
}

.sidebar-main {
    flex: 1;
}

.nav-list {
    .nav-item {
        .nav-button {
            width: 250px;
            padding: 11px;
            background-color: transparent;
            @include flex(row, null, center);
            svg {
                margin-right: 14px;
            }
            .nav-name {
                @include font(14px, 500, 14px, #9197B3);
            }
        }
    }
}

.sidebar-footer {}